[Unit]
Description=Telegram Bot inbox writer (aiogram)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=anton
Group=anton
WorkingDirectory=/home/anton/MagicMirror/mirror_inbox
ExecStart=/usr/bin/python3 /home/anton/MagicMirror/mirror_inbox/bot_listener.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target